@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: 'Nunito', sans-serif;
    --color-bgColor1: #242C35;
    --color-bgColor2: #1B222B;
    --color-bgColor3: rgba(34, 44, 54, 0.3);
    --color-bgColor4: #222C36;
    --color-bgInput1: rgba(66, 75, 83, 0.5);
    --color-bgInput2: #1B222C;
    --color-borderColor1: rgba(51, 59, 68, 0.5);
    --color-borderColor2: #373F48;
    --color-borderInput1: rgba(66, 75, 83, 1);
    --color-borderInput2: #424B53;
    --color-hColor1: #13181E;
    --color-selected: #00A3CA;
    --color-textColor1: #F3F4F4;
    --color-textColor2: #C7CACC;
    --color-textColor3: #858B90;
    --color-textColor4: #A6AAAE;
    --color-textColorInput1: rgba(199, 202, 204, 1);
    --color-graphColor1: #AA7EDD;
    --color-graphColor2: #00A3CA;
    --text-clg: 1.3125rem;    
    --text-cmd: 1.125rem;
    --text-csm: 0.875rem;
    --leading-clh: 1.5rem;
}

body {
    font-family: var(--font-sans);
    font-size: 1rem;
    color: #ffffff;
}

.input-no-spin {
    appearance: none;            /* Standard property */
    -webkit-appearance: none;    /* Chrome, Safari, newer Edge */
    -moz-appearance: textfield;  /* Firefox */
  }
  
  .input-no-spin::-webkit-inner-spin-button,
  .input-no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  